<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.school.schoolstock.domain.news.repository.NewsRepository">
    <!-- 학생용 뉴스조회 -->
    <select id="getNewsList" resultType="String">
        SELECT news_content FROM news
    </select>

    <!-- 선생용 뉴스조회(관리용) -->
    <select id="getNewsManageList" resultType="com.school.schoolstock.domain.news.vo.News">
        SELECT news_no, news_content FROM news
    </select>

</mapper>

