<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.school.schoolstock.domain.order.repository.OrderRepository">

    <!-- 주문 매칭 -->
    <select id="getMatchOrder" resultType="map">
        SELECT
        order_no      AS orderNo,
        order_content AS orderContent,
        order_point   AS orderPoint,
        amount        AS amount,
        order_state   AS orderState,
        order_date    AS orderDate,
        student_id    AS studentId,
        stock_no      AS stockNo
        FROM ORDERS
        WHERE order_no = (
        SELECT order_no
        FROM ORDERS
        WHERE stock_no = #{stockNo}
        AND order_state = 'PENDING'
        AND order_content = #{content}
        AND order_point = #{orderPrice}
        AND amount = #{orderAmount}
        AND student_id != #{studentId}
        ORDER BY order_date ASC
        LIMIT 1
        )
        FOR UPDATE
    </select>

    <!-- 매도, 매수 주문 요청 -->
    <insert id="setOrderRequest">
        INSERT INTO ORDERS (
        order_content,
        order_point,
        amount,
        order_state,
        order_date,
        student_id,
        stock_no
        )
        VALUES (
        #{content},
        #{price},
        #{amount},
        #{state},
        NOW(),
        #{studentId},
        #{stockNo}
        )
    </insert>

    <!-- 최근 등록한 주문 번호 조회 -->
    <select id="getMyOrderNo" resultType="int">
        SELECT order_no
        FROM ORDERS
        WHERE order_content = #{content}
        AND student_id = #{studentId}
        AND stock_no = #{stockNo}
        AND order_state = #{state}
        AND amount = #{amount}
        AND order_point = #{price}
        ORDER BY order_date DESC
        LIMIT 1
    </select>

    <!-- 특정 주식 대기중인 매도 매수 주문 모두 조회 -->
    <select id="getTotalOrder" resultType="com.school.schoolstock.domain.order.vo.Orders">
        SELECT
        order_point   AS orderPoint,
        amount        AS amount,
        order_content AS orderContent
        FROM ORDERS
        WHERE stock_no = #{stockNo}
        AND order_state = 'PENDING'
        ORDER BY order_date ASC
    </select>

    <!-- 특정 주식 대기중인 매도 주문 모두 조회 -->
    <select id="getTotalSellOrder" resultType="com.school.schoolstock.domain.order.vo.Orders">
        SELECT
        order_point   AS orderPoint,
        amount        AS amount,
        order_content AS orderContent
        FROM ORDERS
        WHERE stock_no = #{stockNo}
        AND order_state = 'PENDING'
        AND order_content = 'SELL'
        ORDER BY order_date ASC
    </select>

    <!-- 특정 주식 대기중인 매수 주문 모두 조회 -->
    <select id="getTotalBuyOrder" resultType="com.school.schoolstock.domain.order.vo.Orders">
        SELECT
        order_point   AS orderPoint,
        amount        AS amount,
        order_content AS orderContent
        FROM ORDERS
        WHERE stock_no = #{stockNo}
        AND order_state = 'PENDING'
        AND order_content = 'BUY'
        ORDER BY order_date ASC
    </select>

    <!-- 주문 요청 상태 '대기' 변경 -->
    <update id="setOrderStatePending">
        UPDATE ORDERS
        SET order_state = 'PENDING'
        WHERE order_no = #{orderNo}
    </update>

    <!-- 주문 요청 상태 '취소' 변경 -->
    <update id="setOrderStateCancel">
        UPDATE ORDERS
        SET order_state = 'CANCELED'
        WHERE order_no = #{orderNo}
    </update>

    <!-- 주문 요청 상태 '체결' 변경 -->
    <update id="setOrderStateMatched">
        UPDATE ORDERS
        SET order_state = 'MATCHED'
        WHERE order_no = #{orderNo}
    </update>

</mapper>