<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.school.schoolstock.domain.teacher.repository.TeacherRepository">

    <!-- 선생님 계정 존재 여부 확인 -->
    <select id="getTeacherIdCheck" resultType="string">
        SELECT
            teacher_id
        FROM teachers
        WHERE teacher_id = #{teacherId}
    </select>

    <!-- 선생님이 맡은 반 학생 목록 조회 -->
    <select id="getMyStudents"
            resultType="com.school.schoolstock.domain.teacher.dto.StudentListResponse">
        SELECT
            s.student_number AS studentNumber,
            s.name,
            s.total_point AS totalPoint
        FROM students s
                 JOIN teachers t
                      ON s.grade = t.grade
                          AND s.class_name = t.class_name
        WHERE t.teacher_id = #{teacherId}
        ORDER BY s.student_number
    </select>

    <!-- 쿠폰 상점에 등록된, 쿠폰명과 쿠폰 포인트 수정-->
    <update id="setCoupon">
        UPDATE COUPONS
        SET
            name = #{name},
            coupon_point = #{couponPoint}
        WHERE coupon_no = #{couponNo}
    </update>

</mapper>